@media (max-width: 799.99px) {
    .div-search-content-register {
        display: grid;
    }

    .div-search-content-register input {
        width: 100%;
    }

    .div-search-content-register button {
        margin-top: 1em;
    }

    tr td:nth-child(2), tr th:nth-child(2) {
        display: none;
    }

    tr td:first-child button:nth-child(3) {
        display: none;
    }
}

@media (min-width: 800px) {
    .div-search-content-register {
        position: relative;
        display: flex;
    }

    .div-search-content-register input {
        width: 24em;
    }

    .div-search-content-register button {
        margin-left: 1em;
    }
}

tr td:nth-child(1), tr th:nth-child(1) {
    width: 10em;
}

.div-search-content-register input {
    padding-left: 32px;
}

.div-search-content-register > div {
    position: relative;
    display: flex;
}

.div-search-content-register svg {
    position: absolute;
    top: 25%;
    left: 8px;
}

.div-search-content-register > span {
    margin-right: 1em;
}



.div-content-register {
    margin-top: 2em;
    height: 80vh;
    overflow: auto;
}

.div-content-register table {
    border: 1px solid grey;
}

.div-content-register th {
    border: none;
}

.div-content-register td {
    border-top: 0.5px solid grey;
    vertical-align: middle;
}
