
<div class="payment-delete-content">
    <div class="d-grid">
        <span>Tem certeza que deseja remover esse pagamento? </span>
        <span>Todos os registros realizados nessa pagamento também serão removidos. </span>
    </div>
    <div class="d-grid">
        <span>Nome</span>
        <input placeholder="Netflix" disabled maxlength="256" @bind-value="Payment.Name" />
    </div>
    <div class="d-grid">
        <span>Descrição</span>
        <textarea placeholder="Plano premium" disabled rows="5" maxlength="1000" @bind="Payment.Description" />
    </div>
    <div class="d-grid">
        <span>Valor</span>
        <InputNumber TValue="decimal" disabled @bind-Value=Payment.Value class="currency-mask"></InputNumber>
    </div>
    <div class="d-grid">
        <span>Categoria</span>
        <select @bind="Payment.CategoryId" disabled>
            <option value="">Nenhum</option>
            @foreach (var category in Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <div class="d-grid">
        <span>Dia do pagamento</span>
        <select @bind="Payment.PayDay" disabled>
            <option value="">Nenhum</option>
            @for (var index =1; index <= 31; index ++)
            {
                <option value="@index">@index</option>
            }
        </select>
    </div>
    <div class="d-flex payment-delete-action">
        <button class="btn-default" @onclick=OnClickClose>
            Cancelar
        </button>
        <button class="btn-default-danger" @onclick=OnClickDelete>
            Remover
        </button>
    </div>
</div>

@code {
    [Inject]
    private DialogProvider DialogProvider { get; set; } = default!;
    [Inject]
    private IPaymentService PaymentService { get; set; } = default!;
    [Inject]
    private ICategoryService CategoryService { get; set; } = default!;
    [Inject]
    private ToastProvider ToastProvider { get; set; } = default!;
    [Inject]
    private JavaScriptProvider JavaScriptProvider { get; set; } = default!;
    [Parameter]
    public PaymentResponseDTO Payment { get; set; } = default!;
    private List<CategoryResponseDTO> Categories = new List<CategoryResponseDTO>();

    protected override void OnAfterRender(bool firstRender) => JavaScriptProvider.ApplyCurrencyMask();

    protected override async Task OnInitializedAsync()
    {
        Categories = await CategoryService.GetAll();
        Categories = Categories.OrderBy(x => x.Name).ToList();
        StateHasChanged();
    }

    private async Task OnClickDelete()
    {
        try
        {
            await PaymentService.Delete(Payment.Id);
            ToastProvider.ShowToast("Atualizado com sucesso", ToastLevelEnum.Success);
            DialogProvider.CloseDialog(Payment);
        }
        catch(Exception)
        {
            ToastProvider.ShowToast("Erro ao criar pagamento", ToastLevelEnum.Error);
        }
    }

    private void OnClickClose()
    {
        DialogProvider.CloseDialog();
    }

}
