.div-search-content-payment {
    position: relative;
    display: flex;
}

.div-search-content-payment input {
    padding-left: 32px;
}

.div-search-content-payment > div {
    position: relative;
    display: flex;
}

.div-search-content-payment svg {
    position: absolute;
    top: 25%;
    left: 8px;
}

.div-search-content-payment > span {
    margin-right: 1em;
}

.div-search-content-payment button {
    margin-left: 1em;
}

.div-search-content-payment input {
    width: 24em;
}

.div-content-payment {
    margin-top: 2em;
    height: 80vh;
    overflow: auto;
}

.div-content-payment table {
    border: 1px solid grey;
}

.div-content-payment th {
    border: none;
}

.div-content-payment td {
    border-top: 0.5px solid grey;
    vertical-align: middle;
}
