.div-search-content-category > span {
    margin-right: 1em;
}

.div-search-content-category button {
    margin-left: 1em;
}

.div-search-content-category input {
    width: 20em;
}

.div-content-category {
    margin-top: 2em;
    height: 80vh;
    overflow: auto;
}

.div-content-category table {
    border: 1px solid grey;
}

.div-content-category th {
    border: none;
}

.div-content-category td {
    border-top: 0.5px solid grey;
    vertical-align: middle;
}