
<div class="category-create-content">
    <div class="d-grid">
        <span>* Nome</span>
        <input  placeholder="Streaming" maxlength="256" @bind-value="request.Name" />
    </div>
    <div class="d-grid">
        <span>Descrição</span>
        <textarea placeholder="Netflix + HBO + Amazon prime" rows="5" maxlength="1000" @bind="request.Description" />
    </div>
    <div class="d-flex category-create-action">
        <button class="btn-default" @onclick=OnClickClose>
            Cancelar
        </button>
        <button class="btn-default" @onclick=OnClickCreate>
            Criar
        </button>
    </div>
    <div>
        <span style="color: red">@ErrorMessage</span>
    </div>
</div>

@code {
    [Inject]
    private DialogProvider dialogProvider { get; set; } = default!;
    [Inject]
    private ICategoryService categoryService { get; set; } = default!;
    [Inject]
    private ToastProvider toastProvider { get; set; } = default!;
    private string ErrorMessage = "";
    private CategoryRequestDTO request = new CategoryRequestDTO();

    private async Task OnClickCreate()
    {
        try
        {
            if (string.IsNullOrEmpty(request.Name))
            {
                ErrorMessage = "Nome da categoria é obrigatório";
                StateHasChanged();
                return;
            }
            if (await categoryService.Exists(request))
            {
                toastProvider.ShowToast("Já existe uma categoria com esse nome", ToastLevelEnum.Error);
                return;
            }
            var response = await categoryService.Create(request);
            toastProvider.ShowToast("Criado com sucesso", ToastLevelEnum.Success);
            dialogProvider.CloseDialog(response);
        }
        catch(Exception)
        {
            toastProvider.ShowToast("Erro ao criar categoria", ToastLevelEnum.Error);
        }
    }

    private void OnClickClose()
    {
        dialogProvider.CloseDialog();
    }
}
