
<div class="category-delete-content">
    <div class="d-grid">
        <span>Tem certeza que deseja remover essa categoria? </span>
        <span>Todos os pagamentos realizados nessa categoria também serão removidos. </span>
    </div>
    <div class="d-grid">
        <span>Nome</span>
        <input readonly placeholder="Streaming" maxlength="256" @bind-value="category.Name" />
    </div>
    <div class="d-grid">
        <span>Descrição</span>
        <textarea readonly placeholder="Netflix + HBO + Amazon prime" rows="5" maxlength="1000" @bind="category.Description" />
    </div>
    <div class="d-flex category-delete-action">
        <button class="btn-default" @onclick=OnClickClose>
            Cancelar
        </button>
        <button class="btn-default" @onclick=OnClickDelete>
            Remover
        </button>
    </div>
</div>

@code {
    [Inject]
    private DialogProvider dialogProvider { get; set; } = default!;
    [Inject]
    private ICategoryService categoryService { get; set; } = default!;
    [Parameter]
    public CategoryResponseDTO category { get; set; } = default!;
    [Inject]
    private ToastProvider toastProvider { get; set; } = default!;

    private async Task OnClickDelete()
    {
        try
        {
            await categoryService.Delete(category.Id);
            toastProvider.ShowToast("Deletado com sucesso", ToastLevelEnum.Success);
            dialogProvider.CloseDialog(category);
        }
        catch (Exception)
        {
            toastProvider.ShowToast("Erro ao remover categoria", ToastLevelEnum.Error);
        }
    }

    private void OnClickClose()
    {
        dialogProvider.CloseDialog();
    }
}
