
<div class="category-delete-content">
    <div class="d-grid">
        <span>Tem certeza que deseja remover essa categoria? </span>
        <span>Todos os pagamentos realizados nessa categoria também serão removidos. </span>
    </div>
    <div class="d-grid">
        <span>Nome</span>
        <input readonly placeholder="Streaming" maxlength="256" @bind-value="Category.Name" />
    </div>
    <div class="d-grid">
        <span>Descrição</span>
        <textarea readonly placeholder="Netflix + HBO + Amazon prime" rows="5" maxlength="1000" @bind="Category.Description" />
    </div>
    <div class="d-flex category-delete-action">
        <button class="btn-default" @onclick=OnClickClose>
            Cancelar
        </button>
        <button class="btn-default-danger" @onclick=OnClickDelete>
            Remover
        </button>
    </div>
</div>

@code {
    [Inject]
    private DialogProvider DialogProvider { get; set; } = default!;
    [Inject]
    private ICategoryService CategoryService { get; set; } = default!;
    [Parameter]
    public CategoryResponseDTO Category { get; set; } = default!;
    [Inject]
    private ToastProvider ToastProvider { get; set; } = default!;

    private async Task OnClickDelete()
    {
        try
        {
            await CategoryService.Delete(Category.Id);
            ToastProvider.ShowToast("Deletado com sucesso", ToastLevelEnum.Success);
            DialogProvider.CloseDialog(Category);
        }
        catch (Exception)
        {
            ToastProvider.ShowToast("Erro ao remover categoria", ToastLevelEnum.Error);
        }
    }

    private void OnClickClose()
    {
        DialogProvider.CloseDialog();
    }
}
